<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Fight Club Monkey</title>
	<atom:link href="http://fightclubmonkey.co.uk/feed/" rel="self" type="application/rss+xml" />
	<link>http://fightclubmonkey.co.uk</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Sat, 11 Jan 2014 18:22:25 +0000</lastBuildDate>
	<language>en-US</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9</generator>
	<item>
		<title>Android game recommendations</title>
		<link>http://fightclubmonkey.co.uk/2013/04/android-game-recommendations/</link>
		<comments>http://fightclubmonkey.co.uk/2013/04/android-game-recommendations/#comments</comments>
		<pubDate>Mon, 22 Apr 2013 12:30:12 +0000</pubDate>
		<dc:creator><![CDATA[Deus X Mortis]]></dc:creator>
				<category><![CDATA[Member's Articles]]></category>
		<category><![CDATA[Contre Jour]]></category>
		<category><![CDATA[Fieldrunners]]></category>
		<category><![CDATA[Galaxy Note 2]]></category>
		<category><![CDATA[Humble Bundle]]></category>
		<category><![CDATA[iPad]]></category>
		<category><![CDATA[Jetpack Joyride]]></category>
		<category><![CDATA[Osmos]]></category>
		<category><![CDATA[Plants vs. Zombies]]></category>
		<category><![CDATA[Rayman Jungle Run]]></category>
		<category><![CDATA[Spirits]]></category>
		<category><![CDATA[Superbrothers: Sword & Sworcery EP]]></category>
		<category><![CDATA[Temple Run 2]]></category>
		<category><![CDATA[The Room]]></category>
		<category><![CDATA[Transformer Prime]]></category>
		<category><![CDATA[Xperia Arc]]></category>

		<guid isPermaLink="false">http://fightclubmonkey.co.uk/?p=262</guid>
		<description><![CDATA[(This article was originally published on Lime Blast) I&#8217;ve not written a gaming post in a while, so lets write one now&#8230; Casual gaming &#8230; at the risk of sounding like a casual gamer, since getting my Galaxy Note 2<span class="ellipsis">&#8230;</span><div class="read-more"><a href="http://fightclubmonkey.co.uk/2013/04/android-game-recommendations/">Read more &#8250;</a></div><!-- end of .read-more --><div class='yarpp-related-rss yarpp-related-none'>
</div>
]]></description>
		<wfw:commentRss>http://fightclubmonkey.co.uk/2013/04/android-game-recommendations/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>The last couple of weeks</title>
		<link>http://fightclubmonkey.co.uk/2012/08/the-last-couple-of-weeks/</link>
		<comments>http://fightclubmonkey.co.uk/2012/08/the-last-couple-of-weeks/#comments</comments>
		<pubDate>Wed, 29 Aug 2012 11:43:06 +0000</pubDate>
		<dc:creator><![CDATA[Deus X Mortis]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Guild Wars 2]]></category>
		<category><![CDATA[Minecraft]]></category>

		<guid isPermaLink="false">http://fightclubmonkey.co.uk/?p=227</guid>
		<description><![CDATA[The last couple of weeks have been an active ones &#8211; not only have we upped and left Facebook to find pastures anew, but we&#8217;ve started our own Minecraft server, and seen the release of Guild Wars 2, which has been<span class="ellipsis">&#8230;</span><div class="read-more"><a href="http://fightclubmonkey.co.uk/2012/08/the-last-couple-of-weeks/">Read more &#8250;</a></div><!-- end of .read-more --><div class='yarpp-related-rss yarpp-related-none'>
</div>
]]></description>
		<wfw:commentRss>http://fightclubmonkey.co.uk/2012/08/the-last-couple-of-weeks/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>New &#8216;members only&#8217; forum</title>
		<link>http://fightclubmonkey.co.uk/2012/08/new-members-only-forum/</link>
		<comments>http://fightclubmonkey.co.uk/2012/08/new-members-only-forum/#comments</comments>
		<pubDate>Fri, 17 Aug 2012 16:17:50 +0000</pubDate>
		<dc:creator><![CDATA[Deus X Mortis]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://fightclubmonkey.co.uk/?p=209</guid>
		<description><![CDATA[What happens when the gaming clan you&#8217;re a member of outgrows the Facebook Group it&#8217;s been using? They move to a new forum.<div class='yarpp-related-rss'>

Related posts:<ol>
<li><a href='http://fightclubmonkey.co.uk/2012/06/welcome-to-our-new-site/' rel='bookmark' title='Welcome to our new site'>Welcome to our new site</a></li>
</ol>
</div>
]]></description>
		<wfw:commentRss>http://fightclubmonkey.co.uk/2012/08/new-members-only-forum/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Twitter round-up #1</title>
		<link>http://fightclubmonkey.co.uk/2012/08/twitter-round-up-1/</link>
		<comments>http://fightclubmonkey.co.uk/2012/08/twitter-round-up-1/#comments</comments>
		<pubDate>Sun, 12 Aug 2012 18:11:37 +0000</pubDate>
		<dc:creator><![CDATA[Mari]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Commodore 64]]></category>
		<category><![CDATA[Computers]]></category>
		<category><![CDATA[Darksiders 2]]></category>
		<category><![CDATA[Deadlight]]></category>
		<category><![CDATA[Facts]]></category>
		<category><![CDATA[Gaming]]></category>

		<guid isPermaLink="false">http://fightclubmonkey.co.uk/?p=166</guid>
		<description><![CDATA[Darksiders 2 bonus gear unlocked by playing its predecessor (02.08.2012) It would appear that THQ are playing favouritism with their existing customers - Darksiders 2 will reward players who&#8217;ve played the its predecessor by rewarding them with extra equipment. Simply by playing<span class="ellipsis">&#8230;</span><div class="read-more"><a href="http://fightclubmonkey.co.uk/2012/08/twitter-round-up-1/">Read more &#8250;</a></div><!-- end of .read-more --><div class='yarpp-related-rss yarpp-related-none'>
</div>
]]></description>
		<wfw:commentRss>http://fightclubmonkey.co.uk/2012/08/twitter-round-up-1/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Humble Indie Bundle V</title>
		<link>http://fightclubmonkey.co.uk/2012/06/humble-indie-bundle-v/</link>
		<comments>http://fightclubmonkey.co.uk/2012/06/humble-indie-bundle-v/#comments</comments>
		<pubDate>Fri, 01 Jun 2012 19:37:57 +0000</pubDate>
		<dc:creator><![CDATA[Deus X Mortis]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Amnesia: The Dark Descent]]></category>
		<category><![CDATA[Bastion]]></category>
		<category><![CDATA[Braid]]></category>
		<category><![CDATA[Humble Indie Bundle]]></category>
		<category><![CDATA[LIMBO]]></category>
		<category><![CDATA[Lone Survivor]]></category>
		<category><![CDATA[Psychonauts]]></category>
		<category><![CDATA[Steam]]></category>
		<category><![CDATA[Super Meat Boy]]></category>
		<category><![CDATA[Superbrothers: Sword & Sworcery EP]]></category>

		<guid isPermaLink="false">http://fightclubmonkey.co.uk/?p=142</guid>
		<description><![CDATA[The latest Humble Indie Bundle is live right now, and is probably the best to date...<div class="read-more"><a href="http://fightclubmonkey.co.uk/2012/06/humble-indie-bundle-v/">Read more &#8250;</a></div><!-- end of .read-more --><div class='yarpp-related-rss yarpp-related-none'>
</div>
]]></description>
		<wfw:commentRss>http://fightclubmonkey.co.uk/2012/06/humble-indie-bundle-v/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Welcome to our new site</title>
		<link>http://fightclubmonkey.co.uk/2012/06/welcome-to-our-new-site/</link>
		<comments>http://fightclubmonkey.co.uk/2012/06/welcome-to-our-new-site/#comments</comments>
		<pubDate>Fri, 01 Jun 2012 14:20:47 +0000</pubDate>
		<dc:creator><![CDATA[Deus X Mortis]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://fightclubmonkey.co.uk/?p=52</guid>
		<description><![CDATA[Although the FcM of today isn't anywhere as formal and organised as it was in past generations, and despite the fact that most of our organisational and conversational needs are met by our more than adequate Facebook group, the clan elders (i.e. me) decided that it was time for our presence on the Web to be felt once again.<div class="read-more"><a href="http://fightclubmonkey.co.uk/2012/06/welcome-to-our-new-site/">Read more &#8250;</a></div><!-- end of .read-more --><div class='yarpp-related-rss yarpp-related-none'>
</div>
]]></description>
		<wfw:commentRss>http://fightclubmonkey.co.uk/2012/06/welcome-to-our-new-site/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Currently Playing</title>
		<link>http://fightclubmonkey.co.uk/2012/02/currently-playing/</link>
		<comments>http://fightclubmonkey.co.uk/2012/02/currently-playing/#comments</comments>
		<pubDate>Tue, 21 Feb 2012 10:07:23 +0000</pubDate>
		<dc:creator><![CDATA[Deus X Mortis]]></dc:creator>
				<category><![CDATA[Member's Articles]]></category>
		<category><![CDATA[Alan Wake's American Nightmare]]></category>
		<category><![CDATA[Alice: Madness Returns]]></category>
		<category><![CDATA[Assassin's Creed: Revelations]]></category>
		<category><![CDATA[Bastion]]></category>
		<category><![CDATA[Batman: Arkham City]]></category>
		<category><![CDATA[Blur]]></category>
		<category><![CDATA[Brink]]></category>
		<category><![CDATA[Diablo 3]]></category>
		<category><![CDATA[FEAR 3]]></category>
		<category><![CDATA[Guild Wars 2]]></category>
		<category><![CDATA[Humble Bundle]]></category>
		<category><![CDATA[Indie Royale]]></category>
		<category><![CDATA[Kingdoms of Amalur: Reckoning]]></category>
		<category><![CDATA[L.A. Noire]]></category>
		<category><![CDATA[Max Payne 3]]></category>
		<category><![CDATA[Metro 2033]]></category>
		<category><![CDATA[Portal 2]]></category>
		<category><![CDATA[RAGE]]></category>
		<category><![CDATA[Skyrim]]></category>
		<category><![CDATA[The Darkness 2]]></category>
		<category><![CDATA[The Legend of Zelda: Skyward Sword]]></category>
		<category><![CDATA[Tomb Raider Anniversary]]></category>
		<category><![CDATA[Tomb Raider Underworld]]></category>
		<category><![CDATA[Torchlight 2]]></category>
		<category><![CDATA[Trine]]></category>
		<category><![CDATA[Trine 2]]></category>

		<guid isPermaLink="false">http://fightclubmonkey.co.uk/?p=247</guid>
		<description><![CDATA[(This article was originally published on Lime Blast) Although the majority of this blog (and site as a whole) will be based about my work with the Web, it is also intended to be a personal outlet, where I can<span class="ellipsis">&#8230;</span><div class="read-more"><a href="http://fightclubmonkey.co.uk/2012/02/currently-playing/">Read more &#8250;</a></div><!-- end of .read-more --><div class='yarpp-related-rss yarpp-related-none'>
</div>
]]></description>
		<wfw:commentRss>http://fightclubmonkey.co.uk/2012/02/currently-playing/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
